<footer  class="site-footer">
	<div class="wrapper">
        <p>
            本站总访问量<span id="busuanzi_value_site_pv"></span>次，本站访客数<span id="busuanzi_value_site_uv"></span>人次，本文总阅读量<span id="busuanzi_value_page_pv"></span>次
        </p>

        <p class="power">
            友情链接： 
            <a href="https://victor981221.github.io/">小明&nbsp;&nbsp;</a>
            <a href="https://ttk1907.github.io/">天凯&nbsp;&nbsp;</a>
            <a href="https://nineberg.github.io/">张旭&nbsp;&nbsp;</a>
            <a href="https://qijian160.github.io/">齐健&nbsp;&nbsp;</a>
            <a href="https://raoweijiapng.github.io/">饶唯甲&nbsp;&nbsp;</a>
            <a href="https://hejie615.github.io/">何杰</a>
        </p>


        <p>
            Contact me at: 
            <a href="https://github.com/caoyang7" title="GitHub"><img src="/assets/img/github.png" width="20px"></a>
            <a href="https://weibo.com/u/5655270496" title="weibo"><img src="/assets/img/weibo.png" width="20px"></a>
            <a href="https://www.jianshu.com/u/bf1cf7ae6f4f" title="jianshu"><img src="/assets/img/jianshu.png" width="20px"></a>
            <a href="https://juejin.im/user/5d5cc35551882562744fb13b" title="juejin"><img src="/assets/img/juejin.png" width="20px"></a>
            <a href="https://www.zhihu.com/people/cao-ha-ha-70/activities" title="zhihu"><img src="/assets/img/zhihu.png" width="20px"></a>
        </p>
    </div>
</footer>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}

